#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: #fff;
  color: #222;
}


.navbar{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
  background: #000000;
  color: #f2efef;
  border: 1px solid #e5e7eb;
}
.main{
  padding: 2rem;
  margin-top: 4rem;
  
}
.trainBox{
  padding: 2rem;
  margin-top: 2rem;
  background: #f9f9f9;
  color: #222;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
