html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
#root {
  width: 100%;
  padding: 0;
  text-align: center;
  background: #fff;
  color: #222;
}
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.navbar{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
  background: #000000;
  color: #f2efef;
  border: 1px solid #e5e7eb;
}
.main{
  display: block;
  padding-top: 2rem;
  margin: 0;
  margin-top: 4rem;
  max-width: 100%;
}
footer{
  display: block;
  width: 100%;
  background: #000000;
  color: #f2efef;
}
.trainBox{
  padding: 2rem;
  margin-top: 2rem;
  background: #f9f9f9;
  color: #222;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}

.userMainBox{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.userBox{
  padding: 2rem;
  margin-top: 2rem;
  background: #e1e1e1;
  color: #222;
  border-radius: 8px;
  border: 1px solid #999a9b;
  width: 43.75rem;
  display: flex;
  align-items: center;
}
.tabs{
  max-width: 30%;
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.avatar
{
  border: 2px solid #e5e7eb;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

}



.minContainer {
  min-height: 300px;
}

.userInfoBox{
  padding: 2rem;
  margin-top: 2rem;
  background: #c2c1c1;
  color: #222;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  width: 43.75rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 8rem;
}

.editProfileBox{
  margin-top: 2rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
